body {background-image: url(bungabackground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
h1 {font-family: fantasy;
    color:blue;
    text-align: center;
    font-size: 30pt;
    }
h2 {font-family: fantasy;
    color:blue;
    text-align: center;
    font-size: 20pt;}
p {font-family: fantasy;
    color:blue;
    font-size: 16pt;
    text-align: center;
    }
ul {font-family: fantasy;
    color:blue;
    font-size: 16pt;
    margin-left: -30px;
    }
.sidebar {
    height: 100%;
    width:180px;
    position: fixed;
    background-color:rgb(180, 240, 240);
    font-size: 20pt;
    
    }
.main {margin-left: 200px; margin-right: 50px; display:flex;}
.login {margin-top: 70px; margin-left: 450px; margin-right: 450px; 
        border: 5px solid blue; border-radius: 80px;
        padding: 40px;}
.form_nama {margin-left: 0%; margin-top: 5%;}
.form_tabel {margin-left:10%; margin-top: 1%;}