body{
    background-color: white;
    }
.flex-container {
    display: flex;
    flex-direction: column;
    height:100%;
    align-content:space-between;
    flex-wrap: wrap;
    }
.div1 {
    display: flex;
    flex-direction: row;
    }
.div1_1 {background-color:white;
    border: solid black;
    width: 1050px;
    height : 155px;
    margin: 5px;    
    }
.div1_2 {background-color:white;
    border: solid black;
    width : 155px;
    height: 155px;
    margin: 5px;
    }
.div2 {
    display: flex;
    }
.div2 > div {
    background-color:white;
    border: solid black;
    width: 1220px;
    height : 120px;
    margin:5px;
}
.div3 {
    display: flex;
    flex-direction: row; 
}
.div3 > div {
    background-color:white;
    border: solid black;
    width : 395px;
    height: 250px;
    margin: 5px;
}